<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css5/estilo.css">
</head>

<body>
<!--Se realizo una barra principal-->
    <header class="header">
        <a href="#" class="logo">O.Julian</a>

        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/pagina3">Sobre Nosotros</a>
            <a href="/Pagina2">Servicios</a>
            <a href="#" class="active">Portafolio</a>
            <a href="#">Equipo</a>
            <a href="/login">Iniciar sesion</a>
        </nav>

    </header>
<!-- Se agrego una seccion para el logo del portatofolio-->
    <section class="home">
        <div class="home-image">
            <img src="../assets/Imagenes 5/Logo-Nuevo.png" alt="">
        </div>

<!-- Se agrego un contenido-->
        <div class="home-content">
            <h1>Hola, Me Llamo Oscar</h1>
            <h3>Ingeniero De Sistemas</h3>
            <p> Soy ingeniero de sistemas por lo cual me destaco en realizar soporte tecnico,
                tengo 2 años de experiencia y ahora me dedico a realizar diseño de software para elaborar los proyectos.
                como paginas web con HTML, CSS y JS para mayor informacion puedes ingresar en nuestras redes sociales.</p>
<!-- Se creo un home-sci para las redes sociales-->
            <div class="home-sci">
                <a href="https://www.facebook.com/oscarjulian.escobarcamano"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.instagram.com/oscar.e07/"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
<!-- Se agrego un button para mas informacion-->
            <a href="#" class="btn">Mas Informacion</a>
        </div>
    </section>


</body>

</html>